<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Site</title>
    <link rel="shortcut icon" href="/static/img/definitivo.svg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/forum.css">
    <script src="https://kit.fontawesome.com/0ad95c2b77.js" crossorigin="anonymous"></script>
    <script src="/static/js/forum.js"></script>
    <script src="/static/js/nav.js"></script>
    

</head>
<body>

    <nav id="navBar">
        <div id="menu">
            <a href="/home"><img src="/static//img/definitivo.svg" alt="planeta con naturaleza"></a>
            <ul id="main_menu">
                <li><a href="/home">Sobre nosotros</a></li>
                <li><a href="/noticias">Noticias</a></li>
                <li><a href="/foro">Foro</a></li>

                <li>
                    <a href="/usuario/login" id="user_menu">Iniciar sesion</a>
                </li>
            </ul>
        </div>
        <div id="bars"><i class="fas fa-bars"></i></div>
    </nav>

    <div id="filters">
        <p>
            <span class="filter" id="more_views">Mas relevantes</span>
            <span class="filter" id="less_views">Menos relevantes</span>
            <span class="filter" id="more_new">Nuevos</span>
            <span class="filter" id="old">Viejos</span>
        </p> 
    </div>
    <div id="search">
        <input type="search" id="search_post" placeholder="Buscar post..."><i class="fas fa-search"></i>
    </div>

    <div id="create_post">
        <button id="add_post">Crear post<i class="fas fa-plus"></i></button>
    </div>

    <section id="forum_posts">
        
    </section>
    <footer>
        <p>Copyright &copy; Luis Robayna</p>
        <p><i class="fab fa-twitter"></i></p>
        <p><i class="fab fa-instagram"></i></p>
    </footer>
    
    
</body>
</html>