<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Site</title>
    <link rel="shortcut icon" href="/static/img/definitivo.svg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="https://kit.fontawesome.com/0ad95c2b77.js" crossorigin="anonymous"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/nav.js"></script>
</head>

<body>

</body>
<nav id="navBar">
    <div id="menu">
        <a href="/home"><img src="/static/img/definitivo.svg" alt="planeta con naturaleza"></a>
        <ul id="main_menu">
            <li><a href="/home">Sobre nosotros</a></li>
            <li><a href="/noticias">Noticias</a></li>
            <li><a href="/foro">Foro</a></li>

            <li>
                <a href="/usuario/login" id="user_menu">Iniciar sesion</a>
            </li>
        </ul>
    </div>
    <div id="bars"><i class="fas fa-bars"></i></div>
</nav>
<section>
    <div id="about_us">
        <img src="/static/img/greenbg.png" alt="">
        <a href="/home">
            <h2>Sobre nosotros</h2>
        </a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, commodi odit necessitatibus deserunt beatae
            possimus rem pariatur? Obcaecati nobis esse soluta sit fugit, sequi saepe a at eligendi illum incidunt.</p>
    </div>
    <div id="black_space">
        <div class="card">
            <a href="/noticias">
                <h3>Noticias</h3>
            </a>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime odit reprehenderit alias obcaecati,
                eveniet cum officia veniam voluptate laborum neque qui quo sit, aut excepturi repellat recusandae
                veritatis placeat! Alias?</p>
        </div>
        <div class="card">
            <a href="/foro">
                <h3>Foro</h3>
            </a>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime odit reprehenderit alias obcaecati,
                eveniet cum officia veniam voluptate laborum neque qui quo sit, aut excepturi repellat recusandae
                veritatis placeat! Alias?</p>
        </div>
    </div>
</section>

<section id="news">
    <div>
        <div id="new_img"><img src="/static/img/registro.jpg"></div>
        <div id="new_detail"><a href="/noticias">
                <h2>Noticias</h2>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, commodi odit necessitatibus deserunt
                beatae
                possimus rem pariatur? Obcaecati nobis esse soluta sit fugit, sequi saepe a at eligendi illum incidunt.
            </p>
        </div>
    </div>
    
    <div id="clearfix"></div>

    
</section>


<section id="forum">
    <div>
        <div id="forum_img"><img src="/static/img/foro1.svg"></div>
        <div id="forum_detail"><a href="/foro">
                <h2>Foro</h2>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, commodi odit necessitatibus deserunt
                beatae
                possimus rem pariatur? Obcaecati nobis esse soluta sit fugit, sequi saepe a at eligendi illum incidunt.
            </p>
        </div>
    </div>
    <div id="clearfix"></div>
    </div>
    <div id="center">
    </div>
</section>

<footer>
    <p>Copyright &copy; Luis Robayna</p>
    <p><i class="fab fa-twitter"></i></p>
    <p><i class="fab fa-instagram"></i></p>
</footer>


</html>